- var pageTitle = "Hello Culture Amp"
- var site = "AguacateKun"
- var fbPreview = "http://aguacatekun.com/img/cultureamp.png"
- var icoPath = "img/favicon.png"
- var icoBackground = "#222"
- var description = "Culture Amp // CoverLetter"
- var viewPort = true
- var imgSufix = "img/"